In [1]:
import sqlite3
con = sqlite3.connect("tutorial.db")

In [2]:
cur = con.cursor()

In [ ]:
cur.execute("CREATE TABLE movie2(title, year, score)")

In [ ]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchall()

In [ ]:
con.execute("""
INSERT INTO movie2 VALUES
('Monty', 1975, 8.2),
('Now for Something', 1971, 7.5)
""")

In [ ]:
con.commit()

In [6]:
res2 = cur.execute("SELECT * FROM movie")
res2.fetchall()

[('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python Live at the Hollywood Bowl', 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0)]

In [4]:
res3 = cur.execute("SELECT * FROM movie2")
res3.fetchall()

[]

In [5]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()

In [7]:
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1971, 'And Now for Something Completely Different')
(1975, 'Monty Python and the Holy Grail')
(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")